@import url("./default.scss");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Canela Condensed Trial";
  src: url("../fonts/Canela_Condensed_Family/CanelaCondensed-Regular-Trial.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Canela Condensed Trial";
  src: url("../fonts/Canela_Condensed_Family/CanelaCondensed-Medium-Trial.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Canela Condensed Trial";
  src: url("../fonts/Canela_Condensed_Family/CanelaCondensed-Bold-Trial.otf");
  font-weight: 700;
  font-style: normal;
}
a {
  color: inherit;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #E2CD94;
}

.header__container {
  max-width: 1200px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 85px;
}

.header__logo {
  border-radius: 50%;
  z-index: 5;
  width: 120px;
  height: 40px;
  -webkit-transform: translate(0px, -30%);
      -ms-transform: translate(0px, -30%);
          transform: translate(0px, -30%);
}

.menu__icon {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__list:first-child::before {
  content: "";
  display: inline-block;
  position: relative;
  left: -10px;
  width: 65px;
  height: 2px;
  background-color: #8B4513;
}
.menu__list:last-child::after {
  content: "";
  position: relative;
  right: -10px;
  display: inline-block;
  width: 65px;
  height: 2px;
  background-color: #8B4513;
}
@media (max-width: 995px) {
  .menu__list:first-child::before {
    content: "";
    display: inline-block;
    position: relative;
    left: -5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #8B4513;
  }
  .menu__list:last-child::after {
    content: "";
    position: relative;
    right: -5px;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #8B4513;
  }
}

.menu__list > li {
  position: relative;
}

.menu__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.4em;
  color: #8B4513;
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  padding: 30px 25px 23px;
}
@media (max-width: 995px) {
  .menu__link {
    padding: 30px 15px 23px;
  }
}
@media (min-width: 767px) {
  .menu__link:hover {
    background-color: #925f3b;
    color: #E2CD94;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

@media (min-width: 767px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
}
@media (max-width: 767px) {
  .header__basket {
    position: relative;
    z-index: 90;
    margin-left: 15px;
  }
  .header__basket img {
    width: 50px;
    height: 50px;
  }
  .header__logo {
    width: 40px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .header__logo img {
    width: 100px;
  }
  .menu__list {
    margin-top: 80px;
    display: block;
    gap: 60px;
  }
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #8B4513;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #f7e7bf;
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #E2CD94;
    z-index: 2;
  }
  .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__list > li._active {
    display: block;
  }
  .menu__link {
    font-size: 34px;
  }
}
.title {
  font-weight: 500;
  font-size: 28px;
  line-height: 121.4285714286%;
  letter-spacing: 0.05em;
}

.item_info:not(:last-child) {
  margin-bottom: 28px;
}

.link_item:not(:last-child) {
  margin-bottom: 10px;
}

.footer {
  padding: 68px 0px 66px;
  border-top: #8B4513 solid 2px;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin-right: 20px;
}
.footer__subscribe {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
@media (max-width: 995px) {
  .footer .item_info:not(:last-child) {
    margin-bottom: 15px;
  }
  .footer .link_item:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer .social-information__row {
    margin-top: 35px;
  }
}
@media (max-width: 895px) {
  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__subscribe {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
@media (max-width: 700px) {
  .footer {
    padding: 48px 0px 46px;
  }
}
.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info__left {
  margin-right: 67px;
}
@media (max-width: 995px) {
  .info__left {
    margin-right: 47px;
  }
}
@media (max-width: 895px) {
  .info__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 700px) {
  .info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0px;
  }
  .info__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-right: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .info__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
@media (max-width: 420px) {
  .info__left {
    display: block;
  }
}

.find-us {
  margin-bottom: 86px;
}
.find-us__title {
  margin-bottom: 16px;
}
.find-us__wrapper {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
}
.find-us__address {
  font-style: normal;
}
@media (max-width: 995px) {
  .find-us {
    margin-bottom: 56px;
  }
}
@media (max-width: 895px) {
  .find-us {
    margin-right: 45px;
  }
}
@media (max-width: 700px) {
  .find-us {
    margin-bottom: 30px;
  }
}
@media (max-width: 420px) {
  .find-us {
    margin-bottom: 20px;
    margin-right: 0px;
    text-align: center;
  }
}

.contact-us__title {
  margin-bottom: 16px;
}
.contact-us__wrapper {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
}
@media (max-width: 420px) {
  .contact-us {
    margin-bottom: 20px;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 420px) {
  .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.social-information__row a {
  margin-right: 32px;
}
@media (max-width: 910px) {
  .social-information__row a {
    margin-right: 15px;
  }
}
@media (max-width: 420px) {
  .social-information__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.form__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.05em;
  margin-top: 9px;
}
.subscribe__input {
  margin-top: 27px;
}
.subscribe__form {
  width: 406px;
  height: 50px;
  background: #FFF4D9;
  border-bottom: 2px solid #A57452;
  padding: 2px 10px;
  font-size: 20px;
  letter-spacing: 0.05em;
  color: #D8BF7E;
}
.subscribe__form::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #D8BF7E;
}
.subscribe__form::-moz-placeholder {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #D8BF7E;
}
.subscribe__form:-ms-input-placeholder {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #D8BF7E;
}
.subscribe__form::-ms-input-placeholder {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #D8BF7E;
}
.subscribe__form::placeholder {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #D8BF7E;
}
.subscribe ._error {
  position: relative;
}
.subscribe ._error::after {
  content: "error*";
  position: absolute;
  display: block;
  bottom: -35px;
  left: 15px;
  width: 100px;
  height: 30px;
  color: #F25252;
  font-size: 24px;
}
@media (max-width: 450px) {
  .subscribe ._error {
    position: relative;
  }
  .subscribe ._error::after {
    content: "";
    position: absolute;
  }
  .subscribe__form._error {
    -webkit-box-shadow: red 0px 0px 3px 0px;
            box-shadow: red 0px 0px 3px 0px;
  }
}
.subscribe__button {
  width: 171px;
  height: 50px;
  background: #A57452;
  border-radius: 5px;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.19em;
  color: #FFFFFF;
  margin-left: 10px;
}
@media (max-width: 1100px) {
  .subscribe {
    width: 380px;
  }
}
@media (max-width: 895px) {
  .subscribe {
    margin-top: 15px;
  }
}
@media (max-width: 895px) {
  .subscribe__form {
    width: 100%;
  }
  .subscribe__button {
    width: 200px;
  }
}
@media (max-width: 700px) {
  .subscribe {
    margin-top: 25px;
  }
}
@media (max-width: 450px) {
  .subscribe .form__subscribe {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .subscribe__input {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .subscribe__form {
    margin-bottom: 25px;
  }
  .subscribe__button {
    width: 100%;
    margin-left: 0px;
  }
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 118.75%;
  text-align: center;
  letter-spacing: 0.05em;
  margin-top: 70px;
}
.description__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
@media (max-width: 700px) {
  .description {
    margin-top: 50px;
  }
  .description__row {
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .description__copy {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .description__policy {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
@media (max-width: 400px) {
  .description__row {
    gap: 5px;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgba(98, 60, 3, 0.2);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0) inset;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0) inset;
}

::-webkit-scrollbar-thumb {
  background: rgba(123, 87, 9, 0.5);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(123, 87, 9, 0.63);
}

.findus {
  margin-top: 80px;
}

.find-us__content {
  margin-top: 64px;
  padding: 0px 100px;
}

.fins-us__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -30px;
}
.fins-us__column {
  padding: 0px 30px;
}
.fins-us__title-sub {
  font-weight: 500;
  font-size: 24px;
  line-height: 90.5%;
  letter-spacing: 0.21em;
  margin-bottom: 16px;
}
.fins-us__text-sub {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
}
.fins-us__info {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
}

.map__title {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.19em;
  text-align: center;
  margin-top: 95px;
}

.map {
  margin-top: 10px;
  -webkit-filter: opacity(0.4);
          filter: opacity(0.4);
}

.history_top {
  margin-top: 90px;
}

.history__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.19em;
  margin-bottom: 34px;
}
.history__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.13em;
  margin-bottom: 60px;
}
.history__images {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.history__images img {
  max-width: 100%;
}

.footer {
  margin-top: 135px;
}