@font-face {
    font-family: 'Canela Condensed Trial';
    src: url('../fonts/Canela_Condensed_Family/CanelaCondensed-Regular-Trial.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Canela Condensed Trial';
    src: url('../fonts/Canela_Condensed_Family/CanelaCondensed-Medium-Trial.otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Canela Condensed Trial';
    src: url('../fonts/Canela_Condensed_Family/CanelaCondensed-Bold-Trial.otf');
    font-weight: 700;
    font-style: normal;
}