::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: rgba(98, 60, 3, 0.2);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0) inset;
}

::-webkit-scrollbar-thumb {
    background: rgba(123, 87, 9, 0.5);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(123, 87, 9, 0.63);
}