// ========= variable for header ===============================================================
$main__bg: #FFF4D9;
$main_fz: 32px;

$bg_hd: #E2CD94;
$color_hd: #8B4513;
//=============================================================================================

